footer{
    color: white;
    background-color: black;
    height: 150px;
    width: 100%;
}
  
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
}

.social>* img {
    position: initial;
    top: 50;
    right: 0;
}

.social {
    top: 20%;
    height: 90px;
    display: flex;
    align-items: center;
}

.instagram{
    height: 80px;
    width: 100px;
}

.facebook{
    height: 80px;
    width: 100px;
}

.Twiter{
    height: 80px;
    width: 100px;
}

.Youtube{
    height: 80px;
    width: 100px;
}

.WhatsApp{
    height: 80px;
    width: 100px;
}
